a {
  text-decoration: none;
  color: #1972BF;
}

body {
  font-family: 'Ubuntu', verdana;
} 

#content {
  width: 800px;
  margin: 0 auto;

  h1.title {
    text-align: left;
    font-weight: normal;
  }

  #game {
    width: 800px;
    border: 3px solid black;
    #hud {
      height: 60px;
      width: 800px;
      border-bottom: 1px solid black;
      
      #left {
        float: left;
        height: inherit;
        width: 595px;
      }

      #right {
        float: right;
        height: inherit;
        width: 200px;
      }

      #scores {
        margin-left: 10px;
        display: inline-block;

        #score {
          height: 40px; 
          line-height: 40px;
          font-size: 36px;
        }

        #highscore {
          height: 20px;
          line-height: 20px;
          font-size: 16px;
          width: 100%;
          text-align: center;
        }
      }

      #new-highscore {
        margin-left: 10px;
        font-size: 38px;
        line-height: 60px;
      }

      button#restart {
        display: block;
        margin: 0 auto;
        font-size: 20px;
        margin-top: 15px;
        margin-right: 10px;
        height: 30px;
        width: 180px;
        border-radius: 15px;
        background-color: #C7EBED;
        border-color: #4B5859;
      }
    }
  }

  #about {
    font-size: 20px;
  }
}

